.rm-nav-group-title{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 10px 0px 10px 0px;
    outline: none;
    cursor: pointer;
    &.active{
        color: white;
        font-weight: 400;
    }
    &:hover{
        color: white;
        font-weight: 400;
    }
}

.rm-nav-group-content{
    display: none;
}
.rm-nav-group-content.open{
    display: block;
}
.rm-nav-group{
    margin-bottom: 15px;
}

@media all and (max-width: 700px) {
    .rm-nav-group-content{
        display: block;
    }
}