<div class='about-content centered'>
  
  
  <div class='text'>

    <h1 class='sm-bottom-spacing'>About</h1>
    <p>
      I was enthusiastic about photography from a very young age. It provides me with an opportunity to focus on and creatively capture a subject. I find my inspiration in a variety of subjects including destinations, street life and social interactions. It is my passion to time freeze the mood and the emotion into an everlasting memory.
    </p>
  </div>
  <img src='../../assets/about_portrait.jpg'>
</div>