.sm-top-spacing{
    margin-top:15px;
  }
  
.sm-bottom-spacing{
    margin-bottom:15px;
}

.sm-right-spacing {
    margin-right: 15px;
}

.sm-left-spacing {
    margin-left: 15px;
}

.centered{
    display:flex;
    align-items:center;
    justify-content: center;
  }
 

.full-screen{
     position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: auto;
      z-index: 1032;
      background: #1b1b1b;
}