.sm-top-spacing{
    margin-top:15px;
  }
  
.sm-bottom-spacing{
    margin-bottom:15px;
}

.sm-right-spacing {
    margin-right: 15px;
}

.sm-left-spacing {
    margin-left: 15px;
}

.centered{
    display:flex;
    align-items:center;
    justify-content: center;
  }
