@import './themes/rm_dark_theme.scss';
$footer-height: 35px;
$default-navmenu-width: 350px;
$vh-less-footer: calc(100vh - #{$footer-height});

*{
    padding:0;
    margin:0;
}
body{
    background: $default-background-color;
    color: #CCCCCC;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat:100,100i,200,200i,300,300i,400 400i"', sans-serif; 
    font-weight: 300;
    h1{
        font-size: 36px;
        font-weight: 400;
    }
}
.sp-logo-container {
    width: 600px;
    height: auto;
    display: block;
  }

    .footer{
        background: $nav-background-color;
        width: $default-navmenu-width;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        span{
            padding: 10px 30px 10px 30px;
            height: 15px;
            font-size: 11px;
            font-weight: 100;
        }
        // right: 0;
        // bottom: 0;
            // left: 0;
    }
    @media all and (max-width: 700px) {
        .footer{
            width: 100vw;
            // bottom: 0;
        }
    }
    // @media all and (min-width: 701px) {
    // footer{
    //     bottom: 0;
    //     left: 0;
    // }
// }