  <div class="menu-container " [ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
    <rm-nav-toggle (click)="onMenuClick()"></rm-nav-toggle>
    <div class="menu">
      <!--<div class = "logo-container">-->
        <img class="logo-container centered" src="../../../../assets/logo_rmp_white.svg">
        <!--</div>-->
        
        <div class='nav-container'[ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
          <rm-nav-group [label]='"Galleries "'>
            <rm-nav-item [label]='"Overview "' [navLink]='"overview"'></rm-nav-item>
            <rm-nav-item [label]='"Places "' [navLink]='"places"'></rm-nav-item>
          </rm-nav-group>
          <rm-nav-item [label]='"About"' [navLink]='"about"'></rm-nav-item>          
          <rm-nav-item [label]='"Contact "' [navLink]='"contact"'></rm-nav-item>
        </div>
        
      </div>
    </div>
    <div class="content" [ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
      <router-outlet></router-outlet>
    </div>
  