  <div class="menu-container " [ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
    <rm-nav-toggle (click)="onMenuClick()"></rm-nav-toggle>
    <div class="menu centered">
      <!--<div class = "logo-container">-->
        <img class="logo-container" src="../../../../assets/logo_rmp_white.svg">
        <!--</div>-->
        
        <div class='nav-container'[ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
          <rm-nav-item [label]='"Galleries "' [navLink]='"portfolio"'></rm-nav-item>
          <rm-nav-item [label]='"About"' [navLink]='"about"'></rm-nav-item>          
          <rm-nav-item [label]='"Contact "' [navLink]='"contact"'></rm-nav-item>
        </div>
        
      </div>
    </div>
    <div class="content" [ngClass]="{'menu-closed':!isNavMenuOpen, 'change': isNavMenuOpen}">
      <router-outlet></router-outlet>
    </div>
  