@import '../../../main.scss';

::-webkit-scrollbar-track
{
    background-color: #1b1b1b;
   
}

::-webkit-scrollbar
{
    
	width: 10px;
	background-color: #CCCCCC;
}

::-webkit-scrollbar-thumb 
{
	background-color: black;
border: 2px solid #1b1b1b;
border-radius: 10px;
}

.rm-public-layout{
  display:flex;
  justify-content: flex-start;
  background-color: #1b1b1b;
  // color: whitesmoke;
  height: $vh-less-footer;
  // min-height: $vh-less-footer;
  width: 100vw;
}
.content{
    display: inline-flex;
    width: calc(100vw - 350px);
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }


  rm-nav-toggle {
    display: none;
}



.nav-container {
    padding: 0;
    list-style-type: none;
}

.menu-container{
  /*width: 100%;*/
  /*height: 100%;*/
  width: 350px;
  height: $vh-less-footer;  
  display: inline-flex;
}

.menu{
  // background-color: #181818;
  // position: absolute;
  // padding-top: 10vh;
  width: 350px;
  height: $vh-less-footer;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  text-align: center;
}
li {
    padding:10px 0px 10px 0px;
}
li a {
  color: #CCCCCC;
    font-family: 'Cinzel', serif;
    text-transform: none;
  text-decoration: none;
    letter-spacing: -1px;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;

}


.logo-container {
  width: 300px;
  padding-top: 10vh;
  padding-left: 25px;
  padding-bottom: 50px;
  height: auto;
  display: block;
}


.content{
  display: inline-flex;
  width: calc(100vw - 350px);
  height: $vh-less-footer;
  overflow-y: scroll;
  overflow-x: hidden;
}

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    width: 100%;
  }
.scale-down{
  transform: scale(0.4);
}




@media all and (max-width: 700px) {
  ::-webkit-scrollbar { 
    display: none; 
}
  .root{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
  }


  rm-nav-toggle {
    display: inline-block;
    height: 24px;
    margin: 33px 0px 0px 20px;
    z-index: 999;
  }

  .logo-container {
    width: 210px;
    padding: 15px 0px 20px calc((100vw - 210px) / 2);
    height: auto;
    display: block;
  }

  .menu-container{
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: #1b1b1b;
    opacity: 0.9;
  }
  .menu{
    padding-top: 0px;
    position: absolute;
    width: 100vw;
    height: auto;
    display: flex;
    z-index: 99;
    background-color: #1b1b1b;
    justify-content:center;
    flex-direction: column;
    text-align: center;
  }

  .content{
    margin-top: 85px;
    width: 100vw;
    // height: 100%;
    height: calc(100vh - 120px);
    // position: relative;
    overflow-y: scroll;
    transition: all .1s ease-in-out;
  }

  .content.change{
    margin-top: 300px;
    transition: all .1s ease-in-out;
  }
  .nav-container.menu-closed {
    display: none !important;
  }
  .nav-container.change {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
    width: 100%;
  }
}











